<th class="{{ class_name }}" {% if style %}style="{{ style }}"{% endif %}>
    <a href="{{ path | safe }}">
        {% if not conf_by_css %}
            {% if icon_placement == 'left' %}
                {% if is_image %}
                <img src="{{ icon }}"/>
                {% else %}
                <i class="{{ icon }}"></i>
                {% endif %}
            {% endif %}

            {{ title }}

            {% if icon_placement == 'rigth' %}
                {% if is_image %}
                <img src="{{ icon }}"/>
                {% else %}
                <i class="{{ icon }}"></i>
                {% endif %}
            {% endif %}
        {% else %}
            {{ title }}
        {% endif %}
    </a>
</th>
