<th class="{{ class_name }}" {% if style %}style="{{ style }}"{% endif %}>
    <a href="{{ path | safe }}">
        {% if icon_placement == 'left' %}
        {% if is_image %}
        <img src="{{ icon }}"/>
        {% else %}
        <i class="{{ icon }}"></i>
        {% endif %}
        {% endif %}

        {{ title }}

        {% if icon_placement == 'rigth' %}
        {% if is_image %}
        <img src="{{ icon }}"/>
        {% else %}
        <i class="{{ icon }}"></i>
        {% endif %}
        {% endif %}
    </a>
</th>
